<div class="main">
  <div class="contents">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <div class="contents__box" style="background-image: url(<%= tweet.image %>);">
      <div class="mybox">
        <span class="name">
        <%= tweet.name %>
        </span>
        </div>
      <div class="tweeet">
      <%= simple_format(tweet.text) %>
        
        </div> 
      </div>
    <% end %>
  </div>
</div>