.contents-new{
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  form{
    width:600px;
    height:450px;
    border: 0.1px solid pink;
    border-radius: 2px;
    h3{
      text-align:center;
      margin:20px 0;
      font-size:20px;
    }
    .field{
      margin:0 auto;
      width:400px;
      padding-bottom:15px;
      .form{
        width:400px;
        padding-left:5px;
        font-size:15px;
      }
      .text{
        height:200px;
      }
      .btn{
        padding-left:5px;
        font-size:15px;
        width:400px;
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: #67c5ff;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;
      }
      .btn:hover{
        background: #67c5ff;
        color: white;
      }
    }
  }
}