* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

.header{
  font-family: 'YuMincho';
  height:70px;
  width:100%;
  background-color: white;
  display:flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  position: fixed;
  position:relative;
  &__left{
    font-size:30px;
    line-height:70px;
    margin-left:40px;
    .menu-list li{
      margin-right:10px;
    }
    a{
      text-decoration: none;
      font-family: 'YuMincho';
    .fas{
      padding-left:10px;
    }
  }
  }
  &__right{
    .side-box{
      line-height:70px;
      display:flex;
    &__list{
      padding-right:10px;
      margin-right:10px;
      .fas{
        padding-right:5px;
      }
      a{
        text-decoration: none;
        color:black;
        font-size:15px;
      }
    }
  }
  }

 }

.main{
  height:100vh;
  width:100%;
  overflow: scroll;
  background-color: white;
  // background-image: url("bck0008-009.jpg");
  background-position: center;
  background-size: cover;
  .search-form{
    position:absolute;
    top:25px;
    left:300px;
  }
  
 .contents{
  width: 600px;
  margin:100px auto 0px auto;
  max-width: 660px;
  position:relative;
   &__box{
    margin: 20px 0;
    padding: 50px;
    position: relative;
    display:flex;
    height: 600px;
    color: #fff;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    position:relative;
    margin-bottom:150px;
   
    .fas{
      position:absolute;
      right:20px;
      top:20px;
    }
     p{
       color:black;
     }
     .mybox{
      position:absolute;
      justify-content: space-between;
      top:-50px;
      left:0px;
      display:flex;
      height:60px;
      width:100%;
      background-color:white;
      border-radius: 2px;
      border: 1px solid rgb(219, 214, 214);
      -webkit-box-shadow: 0 1px 0 #C1D6EC;
      -moz-box-shadow: 0 1px 0 #C1D6EC;
      box-shadow: 0 1px 0 #C1D6EC;
      .name {
        color:black;
        padding:20px 0 0 15px;
        font-size: 14px;
      }
      .menu {
        height: 17px;
    .menu-list {
        a{
          font-size: 12px;
        }
    }
    }
     }
     
     .tweeet{
      width:100%;
      height:70px;
      font-size: 14px;
      background-color: #fff;
      position:absolute;
      bottom:-50px;
      left:0px;
      border-radius: 2px;
      border: 0.1px solid rgb(219, 214, 214);
      -webkit-box-shadow: 0 1px 0 #C1D6EC;
      -moz-box-shadow: 0 1px 0 #C1D6EC;
      box-shadow: 0 1px 0 #C1D6EC;
      padding:10px 10px;
    }
   }
 }
}


.footer{
  width:100%;
  background-color: white;
  height:50px;
  line-height:50px;
  p{
    text-align:center;
  }
}

.main::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.contents-form{
  height:100vh;
  width:100vw;
.container{
  height:600px;
  width: 100%;
  margin:0px auto;
  max-width: 660px;
  background-color: rgb(250, 249, 250);
}
 input[type="text"]{
  width:300px;
  height:30px;
}
::placeholder{
  padding: 5px 5px;
}
}