* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

.header{
  height:70px;
  width:100%;
  display:flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  position: fixed;
  position:relative;
  &__left{
    a{
      font-size:30px;
    }
    font-family: 'Kaushan Script', cursive;
    line-height:70px;
    margin-left:70px;
    display:flex;
    .search-form{
      margin-left:30px;
     .search-input{
      font-size:15px;
      padding-left:5px;
     }
     .search-btn{
      font-size:15px;
      position: relative;
      display: inline-block;
      padding: 0.25em 0.5em;
      text-decoration: none;
      color: #FFF;
      background: #35c4fd;/*背景色*/
      border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
      border-radius: 4px;/*角の丸み*/
      box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
      font-weight: bold;
      border:none;
     }
     .search-btn:active {
      border-bottom: solid 2px #fd9535;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    }
    }
    .menu-list li{
      margin-right:10px;
    }
    a{
      text-decoration: none;
  }
  }
  &__right{
      margin-right:70px;
    .side-box{
      line-height:70px;
      display:flex;
    &__list{
      padding-right:10px;
      margin-right:10px;
      a{
        text-decoration: none;
        color:black;
        font-size:15px;
      }
    }
  }
  }

 }

.main{
  height:100vh;
  width:100%;
  overflow: scroll;
  background-color: white;
  background-position: center;
  background-size: cover;
  
 .contents{
  width: 500px;
  margin:100px auto 0px auto;
  max-width: 660px;
  h2{
    height:50px;
    text-align: center;
    font-size:20px;
    
  }
  .mytweet{
    text-align:center;
    height:50px;
  }
   &_box{
    border:1px solid pink;
    height: 450px;
    margin-bottom: 50px;
    &_image{
    background-size: cover;
    background-position: center center;
    height: 350px;
  }
     p{
       color:black;
     }
      .name {
        height:50px;
        padding:10px 0 0 10px;
        display:flex;
        justify-content: space-between;
        .menu > li.menu_btn{
          position: relative;
          width: 50px;
          padding:5px 0 0 10px;
        }
        .fa-paw{
          margin:0 auto;
        }
        .menu_btn_list {
          display:none;
          text-align:center;
          .link-btn{
            text-decoration: none;
            font-size:13px;
            color:black;
            padding:10px;
          }
        }
        li.menu_btn ul.menu_btn_list {
          position: absolute;
          top: 45px;
          right:2px;
          width: 100%;
          background:white;
          -webkit-transition: all .2s ease;
          transition: all .2s ease;
        }
      li.menu_btn:hover .menu_btn_list{
        top: 25px;
        visibility: visible;
        opacity: 1;
        display:block;
    }
      }
    .tweeet{
      width:100%;
      height:50px;
      padding:5px 0 0 10px;
    }
     }
   }
 }



.footer{
  width:100%;
  background-color: white;
  height:50px;
  line-height:50px;
  p{
    text-align:center;
  }
}

.main::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
